<!--The content below is only a placeholder and can be replaced.-->
<div  fxFlexFill
      class="container"
      fxLayout="column"
      fxLayoutGap="5px">

  <app-header [fxFlex]="10"
    [fxFlex.xs]="10"
    class="header"
    fxLayout="row"></app-header>

  <div  [fxFlex]="75"
        [fxFlex.xs]="70"
        class="content">

    <router-outlet></router-outlet>
    
  </div>

  <app-footer [fxFlex]="15"
    [fxFlex.xs]="20"
    fxLayout="row"
    fxLayout.xs="row wrap"
    class="footer">  </app-footer>

</div>
